body{
    background-color: burlywood;
}

h3{
    margin-left: 1rem;
    color: brown;
    text-align: center;
   
}

li {
    margin-left: 80px;
}       


img{
    width: 500px;
    height: 250px;
    float: left;
    margin: 20px;
}

p{
    line-height: 20px;
    margin: 20px;
    font-style: oblique;
    line-height: 50px;
}