.class_one{
    text-align: center;
    color: rgb(232, 232, 241);
}


html { 
    background: url(https://cdn.pixabay.com/photo/2020/07/23/17/54/mountain-5431950_1280.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
 

  li {
      margin-left: 80px;
}   
